<div class="container-xl py-5">
  <div class="container-fluid col-md-12 py-3 my-3">
    <h2 class="title text-center">Zona Iphone</h2>
  </div>
  <div class="row my-5">
    <div class="col">
      <img
        src="/assets/images/iphone-14-28-may.png"
        class="card-img"
        alt="..."
        style="max-height: auto; object-fit: cover; height: auto"
      />
    </div>
    <div class="col">
      <img
        src="/assets/images/iphone-15-28-may.png"
        class="card-img"
        alt="..."
      />
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <img
        src="/assets/images/iphone-15-pro-28-may.png"
        class="card-img"
        alt="..."
      />
    </div>
    <div class="col">
      <img
        src="/assets/images/smart-plan-2024.png"
        class="card-img"
        alt="..."
        style="max-height: auto; object-fit: cover; height: auto"
      />
    </div>
  </div>
</div>
