<div class="bg-light">
  <!-- Primera Sección Carrusel -->
  <div
    id="carouselExampleIndicators"
    class="carousel slide container-fluid"
    style="--bs-gutter-x: 0"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img
          src="/assets/images/slider-desktop-aw-se_1.jpg"
          class="d-block w-100"
          alt="banner1"
          style="max-height: 600px; object-fit: cover; height: 100%"
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="/assets/images/slider-desktop-iphone-12.jpg"
          class="d-block w-100"
          alt="banner2"
          style="max-height: 600px; object-fit: cover; height: 100%"
        />
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img
          src="/assets/images/slider-desktop-airpods_2.jpg"
          class="d-block w-100"
          alt="banner3"
          style="max-height: 600px; object-fit: cover; height: 100%"
        />
      </div>
    </div>
  </div>
  <!-- Segunda Sección Carrusel -->

  <div class="container-fluid" style="--bs-gutter-x: 0">
    <div class="row" style="--bs-gutter-x: 0">
      <!-- Primera Card -->
      <div class="col-md-3">
        <div class="text-bg-dark">
          <img
            src="/assets/images/CLAIM-business-packs_1.jpg"
            class="card-img"
            alt="foto-promo-1"
          />
          <div
            class="card-img-overlay d-flex align-items-center justify-content-center"
          ></div>
        </div>
      </div>
      <!-- Segunda Card -->
      <div class="col-md-3">
        <div class="text-bg-dark">
          <img
            src="/assets/images/Home_Banner-3.jpg"
            class="card-img"
            alt="foto-promo-1"
          />
          <div
            class="card-img-overlay d-flex align-items-center justify-content-center"
          ></div>
        </div>
      </div>
      <!-- Tercera Card -->
      <div class="col-md-3">
        <div class="text-bg-dark">
          <img
            src="/assets/images/CLAIM-smart-plan-negro.jpg"
            class="card-img"
            alt="foto-promo-1"
          />
          <div
            class="card-img-overlay d-flex align-items-center justify-content-center"
          ></div>
        </div>
      </div>
      <!-- Cuarta Card -->
      <div class="col-md-3">
        <div class="text-bg-dark">
          <img
            src="/assets/images/CLAIM-plan-renove-especial-iphone_1.jpg"
            class="card-img"
            alt="foto-promo-1"
          />
          <div
            class="card-img-overlay d-flex align-items-center justify-content-center"
          ></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tercera Sección Carrusel -->

  <div class="container-fluid col-md-12 py-5 my-5">
    <h2 class="title text-center">Blog de Apple</h2>
  </div>

  <div class="row justify-content-center align-items-center">
    <!-- Card 1 Blog -->
    <div class="col-md-3">
      <div class="card h-100 shadow-hover">
        <img
          src="/assets/images/regalos-dia-madre.jpg"
          class="card-img-top"
          alt="..."
          style="max-height: 200px; object-fit: cover; height: 100"
        />
        <div class="card-body" style="color: black">
          <h5 class="card-title">Ideas para regalar el día de la madre.</h5>
          <p class="card-text">
            Las madres nos dan todo lo que tienen, incluso más. ¿Se lo estás
            devolviendo?...
          </p>
          <a href="" class="text-decoration-none small">Ver artículo ></a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary small"
            >Last updated 3 mins ago</small
          >
        </div>
      </div>
    </div>
    <!-- Card 2 Blog -->
    <div class="col-md-3">
      <div class="card h-100 shadow-hover">
        <img
          src="/assets/images/leer-libros-ipad.jpg"
          class="card-img-top"
          alt="..."
          style="max-height: 200px; object-fit: cover; height: 100"
        />
        <div class="card-body" style="color: black">
          <h5 class="card-title">¿Se puede pagar con el iPhone apagado?</h5>
          <p class="card-text">
            Te contamos, una vez más, como tu dispositivo Apple puede ayudarte
            en el ...
          </p>
          <a href="" class="text-decoration-none small">Ver artículo ></a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary small"
            >Last updated 1 hour ago</small
          >
        </div>
      </div>
    </div>
    <!-- Card 3 Blog -->
    <div class="col-md-3">
      <div class="card h-100 shadow-hover">
        <img
          src="/assets/images/pagar-con-iphone-apagado.jpg"
          class="card-img-top"
          alt="..."
          style="max-height: 200px; object-fit: cover; height: 100"
        />
        <div class="card-body" style="color: black">
          <h5 class="card-title">
            Descubre la mejor App para leer en el iPad.
          </h5>
          <p class="card-text">
            ¿Quieres conocer cúales son las mejores apps para leer libros en tu
            iPad? El iPad es...
          </p>
          <a href="" class="text-decoration-none small">Ver artículo ></a>
        </div>
        <div class="card-footer">
          <small class="text-body-secondary small"
            >Last updated 1 week ago</small
          >
        </div>
      </div>
    </div>
  </div>
</div>
