<!-- Primera Sección Carrusel -->
<div
  id="carouselExampleIndicators"
  class="carousel slide container-fluid"
  style="--bs-gutter-x: 0"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img
        src="/assets/images/slider-desktop-aw-se_1.jpg"
        class="d-block w-100"
        alt="banner1"
        style="max-height: 600px; object-fit: cover; height: 100%"
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="/assets/images/slider-desktop-iphone-12.jpg"
        class="d-block w-100"
        alt="banner2"
        style="max-height: 600px; object-fit: cover; height: 100%"
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="/assets/images/slider-desktop-airpods_2.jpg"
        class="d-block w-100"
        alt="banner3"
        style="max-height: 600px; object-fit: cover; height: 100%"
      />
    </div>
  </div>
</div>
<!-- Segunda Sección Carrusel -->

<div class="container-fluid" style="--bs-gutter-x: 0">
  <div class="row" style="--bs-gutter-x: 0">
    <!-- Primera Card -->
    <div class="col-md-3">
      <div class="text-bg-dark">
        <img
          src="/assets/images/CLAIM-business-packs_1.jpg"
          class="card-img"
          alt="foto-promo-1"
        />
        <div
          class="card-img-overlay d-flex align-items-center justify-content-center"
        ></div>
      </div>
    </div>
    <!-- Segunda Card -->
    <div class="col-md-3">
      <div class="text-bg-dark">
        <img
          src="/assets/images/Home_Banner-3.jpg"
          class="card-img"
          alt="foto-promo-1"
        />
        <div
          class="card-img-overlay d-flex align-items-center justify-content-center"
        ></div>
      </div>
    </div>
    <!-- Tercera Card -->
    <div class="col-md-3">
      <div class="text-bg-dark">
        <img
          src="/assets/images/CLAIM-smart-plan-negro.jpg"
          class="card-img"
          alt="foto-promo-1"
        />
        <div
          class="card-img-overlay d-flex align-items-center justify-content-center"
        ></div>
      </div>
    </div>
    <!-- Cuarta Card -->
    <div class="col-md-3">
      <div class="text-bg-dark">
        <img
          src="/assets/images/CLAIM-plan-renove-especial-iphone_1.jpg"
          class="card-img"
          alt="foto-promo-1"
        />
        <div
          class="card-img-overlay d-flex align-items-center justify-content-center"
        ></div>
      </div>
    </div>
  </div>
</div>
