<footer class="footer bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p>© 2024 Mi Sitio Web</p>
      </div>
      <div class="col-md-4 text-center">
        <p>©Michael Morocho</p>
      </div>
      <div class="col-md-4 text-end">
        <p>
          <a href="#" style="color: white">Política de Privacidad</a> |
          <a href="#" style="color: white">Términos de Servicio</a>
        </p>
      </div>
    </div>
  </div>
</footer>
